@import "tailwindcss";

@layer base {
  h1 {
    @apply text-7xl leading-tight font-black;
  }
  h2 {
    @apply text-[42px] leading-snug font-bold; /* 42px is inbetween text-4xl and text-5xl */
  }
  h3 {
    @apply text-2xl leading-relaxed font-medium;
  }
  h4 {
    @apply text-xl leading-normal font-medium;
  }
  h5 {
    @apply text-lg leading-normal font-medium;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255,255,255;
}

[data-theme="light"] {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255,255,255;
}

[data-theme="dark"] {
  --foreground-rgb: 255,255,255;
  --background-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --foreground-rgb: 255,255,255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}